* {
    box-sizing: border-box;
}
/* Phpto Gallery */
/*.container > img{
    max-width: 100%;
    min-width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
}*/

/* Photo Grid */
img{
    min-width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    grid-template-areas: 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p";
}

.container > img:nth-child(6){
    grid-area: f/f/k/k;
}